<div class="overflow-auto max-h-96">
  <table class="w-full table-fixed border-collapse">
    <thead>
      <tr class="bg-[#101414] text-cyan-100">
        <th class="w-1/4 px-2 py-1 text-left">Descripcion</th>
        <th class="w-1/12 px-2 py-1 text-right">Total de Pulsos</th>
        <th class="w-1/6 px-2 py-1 text-left">Inicio</th>
        <th class="w-1/6 px-2 py-1 text-left">Fin</th>
        <th class="w-1/12 px-2 py-1 text-right">V. Ideal</th>
        <th class="w-1/12 px-2 py-1 text-right">V. Media</th>
        <th class="w-1/12 px-2 py-1 text-right">Desvio</th>
        <th class="w-1/12 px-2 py-1 text-right">Tiempo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dato of datos" class="text-cyan-100 hover:bg-cyan-800">
        <td class="border px-2 py-1 hover:bg-cyan-700">{{ dato.descripcion }}</td>
        <td class="border px-2 py-1 text-right hover:bg-cyan-700">{{ dato.cantidad }}</td>
        <td class="border px-2 py-1 hover:bg-cyan-700">{{ formatoFecha(dato.inicio) }}</td>
        <td class="border px-2 py-1 hover:bg-cyan-700">{{ formatoFecha(dato.fin) }}</td>
        <td class="border px-2 py-1 text-right hover:bg-cyan-700">{{ dato.videal }}</td>
        <td class="border px-2 py-1 text-right hover:bg-cyan-700">{{ dato.vmedia }}</td>
        <td class="border px-2 py-1 text-right hover:bg-cyan-700">{{ dato.desvio }}</td>
        <td class="border px-2 py-1 text-right hover:bg-cyan-700">{{ dato.tiempo }}</td>
      </tr>
    </tbody>
  </table>
</div>
